em {
  font-weight: bold;
  font-style: normal;
  color: black;
}
p {
  margin: 0;
}

.all {
  font-family: Helvetica, sans-serif;
  color: black;
}

.content {
}

.section-header {
  text-align: center;
  font-size: 18pt;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}

.section {
  margin: 0.2cm;
}

.summary {
  margin-left: 2.5cm;
  margin-right: 2.5cm;
}

.job-header {
  margin-left: 0.7cm;
  margin-right: 0.7cm;
  margin-bottom: 0cm;
}

.job-body {
  margin-left: 1cm;
  margin-right: 1cm;
}

.lr-container {
  display: grid;
  columns: auto;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
  text-align: right;
}

.internship-company {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.action {
  font-size: 11pt;
  color: #222222;
}

.result {
  font-size: 12pt;
  color: black;
}

.internship-action {
  width: 90%;
  font-size: 11pt;
}

h3 {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1cm;
  padding: 0;
}

li {
  margin-top: 0.05cm;
  margin-bottom: 0.05cm;
}

body {
  background: rgb(204, 204, 204);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  position: relative;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

@page {
  size: 21cm 29.7cm;
  margin: 0mm;
}

.header-container {
  display: grid;
  columns: auto;
  width: 100%;
  height: 2cm;
}

.left-header {
  padding: 0.7cm;
  grid-column: 1;
  align-items: left;
}

.right-header {
  text-align: left;
  align-items: right;
  grid-column: 4;
  padding: 0.7cm;
}
